header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
    background: white;
}

header .header--container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .header--navigation {
    display: flex;
    flex: row;
    align-items: center;
}

header .header--logo {
    width: 100px;
    margin-top: 5px;
}

header .header--link {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 5px;
    position: relative;
    margin-left: 20px;
}

header .header--link::before {
    width: 2px;
    height: 100%;
    background: #262626;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

header .header--link .header--link--text {
    font-weight: 500;
    font-size: 14pt;
}

header .header--nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header--nav--item {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

header .header--nav--button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    border-bottom: 2px solid white;
    margin-right: 20px;
}

header .header--nav--button::after {
    width: 10px;
    height: 10px;
    background: url('./icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position-x: -2px;
    content: "";
    position: absolute;
    top: 25%;
    right: 15px;
}


header .header--nav--button:hover {
    border-bottom: 2px solid #262626;
}

header .header--nav--menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header--nav--menu .header--nav--item {
    margin-right: 20px;
}

header .header--nav--btn {
    font-size: 10pt;
    font-weight: 500;
    display: flex;
    border: 1px solid #262626;
    padding: 8px 10px;
    border-radius: 5px;
}

header .header--nav--btn:hover {
    border: 1px solid black;
    background: rgb(224, 224, 224);
}

header .header--nav--userlogo {
    display: flex;
    width: 36px;
}