main {
    color: white;
    position: relative;
}

main .main--hero-section {
    height: 100%;
}

main .main--content-gutter{
    display: flex;
    flex-direction: column;
    padding: 20vh 60px;
    width: 100%;
}

main .main--hero--content{
    display: flex;
    flex-direction: column;
    align-items: left;
}

main .main--hero--content h1 {
    margin-bottom: 20px;
}

main .main--hero--content p {
    margin-bottom: 20px;
    max-width: 350px;
}

main .main--hero--content .main--hero--buttons {
    display: flex;
    flex-direction: column;
}

main .main--hero--content .main--hero--buttons a {
    margin: 10px 0;
}

main .main--hero--content .main--hero--link {
    color: white;
    position: relative;
    max-width: fit-content;
    transition: 0.1s ease-out;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0);
}

main .main--hero--content .main--hero--link::after {
    width: 20px;
    height: 10px;
    background: url('./icons/chevron-right.svg');
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-position-x: -2px;
    content: "";
    position: absolute;
    top: 10%;
    right: -20;
}

main .main--hero--content .main--hero--link:hover {
    border-bottom: 1.5px solid white;
}

main picture {
    position: absolute;
    top: 0;
    margin: 0 auto;
    z-index: -1;
}

main picture img {
    margin: 0 auto;
    /* width: 100%; */
    height: 600px;

}